body{
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size:cover;
}
   a{
    text-decoration: none;
    display: inline-block;
    }

    .header{
        display:block;
        color:transparent;
        
    
    }
    
    
    .main{
        max-width: 1500px;
        padding: 0 15px;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        
    }
    .collapse{
        list-style-type: none;
        
    }
    
    
    
    .navbar {
        
        
        padding: 10px;
        
        overflow: hidden;
    
        
    }
    
    
    .navlink{
        font-family: 'Times New Roman', Times, serif;
        padding: 7px;
        float: right;
        font-size: 20px;
        color:white;
        
    }
    .navlink:hover{
        color: turquoise;
    }
    
    .container{

        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        color: turquoise;
      
    }  
    *{
        
        box-sizing: border-box;
        font-family: 'Times New Roman', Times, serif;
        box-sizing: border-box;
        margin-bottom:0;

    }  

    .head{
         font-family: 'Times New Roman', Times, serif;
         font-weight:bold ;
         text-align: center;
         font-size: 4em;
    }

    .box-container{
       
        
    
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .box{
       
        font-family: 'Times New Roman', Times, serif;
        background-color:turquoise ;
        width:20%;
        height:auto;
        margin: 20px;
        padding-bottom:2 rem;
        text-align: center;
        box-shadow: rgba(49, 49, 49, 0.986);
    }
       

    .image{
       
        padding-top: 10px;
        
    
        border-color: black;
        object-fit: cover;
        

    }

    .content{
        font-family: 'Times New Roman', Times, serif;
        
        font-size: medium;
        text-align:justify;
        font-size: medium;
        padding: 5px;
    }

    .heading{
        text-align:center;
    }

    .forms{
         margin-left: 38%;
         line-height: 1.5 em;
         font-family: Arial, Helvetica, sans-serif;
         font-size: medium;
         padding-top: 20px;
    }

    .label{
        line-height: 4.0;
        box-align: center;
        font-size: largeS;
        font-weight: bold;
    }

    .area{
        line-height: 4.0;
        display:flex;
    }

    .textbox{
     width:100mm;
     height: 10mm;
     border-spacing: 10 mm;
     
        
    }

    .footer{
        background-color: rgb(20, 20, 20);
        margin-bottom: 0;
        height: 380px;
        position: relative;
        padding-left:5%;
        color:cadetblue;
        
    }
    .logo-text{
        font-size: 45px;
        
    }

    .footer-content{
        padding-top: 10px;
        display: flex;
        height:350px;
        color:cadetblue;
        font-size: 20px;
    }

  

    .leftbox{
         
         color:cadetblue;
         flex : 1;
    }

    .contact{
        font-size: 17px;
         color:cadetblue;
    }

    .centerbox{
         
        color:cadetblue;
        flex : 1;
   }

   .rightbox{
    color:cadetblue;
    flex : 1;
   }


    .footertext{
        width:80mm;
        background-color:rgb(34, 32, 32);
        color: #ffffff;
        height: 15mm;
        line-height: 10px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .footerarea{
        background-color:rgb(34, 32, 32);
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .footerbtn{
        background-color: black;
        padding: 5px 10px 5px 10px;
    font-size: small;
    color: white;
    margin-left: 25%;
    height: 40px;
    width: 70px;
    }

    .footerbtn:hover{
        color:black;
        background-color: turquoise;
        font-weight: bold ;  
    }


    .footer-bottom{
        color:gainsboro;
        background-color: dimgray;
       text-align:center;
       position:absolute;
       bottom: 0;
       left: 0;
       width:100%;
       height:25px;
       padding-top: 5px;
       
    }

    .icon a{
        color:cadetblue;
        display: inline-block;
        border: 1px solid rgb(87, 2, 87);
        margin-left: 5px;
        padding-top: 5px;
        font-size: 1.1em;
       
       
    }
  

    .button{
        background-color: black;
    padding: 15px 20px 15px 20px;
    font-size: medium;
    color: white;
    margin-left: 15%;
    
    }

    .button:hover{
        color:black;
        background-color: turquoise;
        font-weight: bold ;
    }

    .links{
        background-color: turquoise;
        padding: 10px;
        margin: 15px;
        color: black;
        border-radius: 25px;
        
    }
    .links:hover{
        color: deeppink;
    }

  


